<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonDock" version="2.0.2000" targetFramework="net45" />
  <package id="AvalonEdit" version="4.4.2.9744" targetFramework="net45" />
  <package id="Caliburn.Micro" version="1.5.2" targetFramework="net40" />
  <package id="Common.Logging" version="2.2.0" targetFramework="net45" />
  <package id="Common.Logging.Core" version="2.2.0" targetFramework="net45" />
  <package id="Extended.Wpf.Toolkit" version="2.1.0" targetFramework="net45" />
  <package id="NLog" version="2.1.0" targetFramework="net45" />
</packages>